  body {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    color: #333;
  }

  nav {
    background-color: white;
    height: 60px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  nav .menu-icon {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }

  nav .dvr {
    color: #0301FF;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }

  .fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 1;
    text-align: left;
    color: white;
  }

  .fullscreen-menu.show {
    display: block;
    animation: fade-in 0.5s;
    text-decoration: none;

  }

  .nav-link {
    color: white;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 4rem;

  }

  .nav-link:hover {
    color: #ff01d9;
  }

  .list {
    position: fixed;
    top: 60%;
    left: 30%;
    text-align: left;
  }

  .list-item {
    list-style: none;
  }

  .bold-line {
    border: 2px solid white;
  }


  .discover {
    color: #ff01d9;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    top: 0;
    right: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .discover:after {
    content: '//DISCOVR';
    color: #0301FF;
    position: absolute;
    top: 0;
    left: 2px;
    clip: rect(0, 800px, 90px, 0);
    animation: noise-anim 3s infinite linear alternate-reverse;
  }

  .discover:before {
    content: '//DISCOVR';
    color: cyan;
    position: absolute;
    top: 2px;
    left: 0;
    clip: rect(0, 800px, 90px, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  .subtitle {
    color: #080808;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    margin-top: 150px;
    position: absolute;
    top: 50%;
    right: 55%;
    transform: translateY(-50%);
  }

  @media screen and (min-width: 769px) {

    .discover {
      font-size: 7rem;
    }

    .discover:after {
      clip: rect(0, 800px, 900px, 0);
    }

    .discover:before {
      clip: rect(0, 800px, 900px, 0);
    }

    .subtitle {
      font-size: 2rem;
      right: 22%;
      margin-top: 170px;
    }

    .fullscreen-menu {
      position: fixed;
      top: 0;
      left: -50%;
    }

    .list {
      left: 25%;
      margin-bottom: 30px;
    }
  }

  @keyframes noise-anim {
    0% {
      transform: translateY(-2px);
    }

    100% {
      transform: translateY(2px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }