body {
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif;
  color: #333;
}

nav {
  background-color: white;
  height: 60px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .menu-icon {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

nav .menu-close-button {
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
}

nav .dvr {
  color: #0301FF;
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  z-index: 1;
  text-align: left;
  color: white;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.fullscreen-menu.show {
  text-decoration: none;
  pointer-events: auto;
  opacity: 1;
}

.nav-link {
  color: white;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 3.5rem;
}

.nav-link:hover {
  color: #ff01d9;
}

.list {
  padding: 40px;
  margin: 0;
}

.list-item {
  list-style: none;
}

.bold-line {
  border: 2px solid white;
}

nav .menu-close-button {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  color: white;
  top: 20px;
  left: 20px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-left: 45%;
}

.titlePlaceholder {
  margin-left: 40px;
  padding: 0;
}

.pageTitle {
  color: #0301FF;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.search-container {
  text-align: center;
  flex-direction: row;

}

input[type=text] {
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.filter-container {
  text-align: center;
  flex-direction: row;

}

#filter-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-left: -93px
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 0.5fr);
  grid-gap: 10px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  margin-top: 10px;
  margin-top: 10px;
  padding: 10px;
}

.album-cover {
  width: 300px;
  height: 300px;

}

.album-title {
  padding: o;
  margin-left: 5px;
}

.fa-star {
  color: gold;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

@media screen and (min-width: 769px) {

  .fullscreen-menu {
    position: flex;
    top: 0;
    left: 0%;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .searchBar {
    margin-left: 80%;
  }


  .grid-container {
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 10px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .grid-item {
    margin-top: 10px;
    margin-top: 10px;
    padding: 10px;
  }
}

@keyframes noise-anim {
  0% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(2px);
  }
}